body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#board{
    display: flex;
    height: 50vh;
    width: 70vw;
    border: 5px solid black;
    align-items: center;
    justify-content: space-around;
    
}

.box{
    border: 3px solid green;
    height: 15vh;
    width: 8vw;
    font-size: 5vw;
    text-align: -webkit-center;
}
.box > * {
    height: auto;
    width: 100%;
}
.locked{
    border: 3px solid red;
}

table {
    border: 2px solid black;
    display: flex;
}
td {
    border: 2px solid black;
    width: 5vw;
    height: 3vh;
    text-align:center;
}
#roll{
    height: 3vh;
    width: 5vw;
}
#title{
    position: absolute;
    top: -5vh;
    left: 43vw;
    font-size: 4vw;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#p1-name{
    position: relative;
    right: 30vw;
    bottom: -8vw;
    height: 5vh;
    width: 10vw;
}
#p2-name{
    position: relative;
    left: 30vw;
    bottom: -5vw;
    height: 5vh;
    width: 10vw;
}
.p2{
    display: none
}

tbody{
    border: 2px solid black;
}
#show-score{
    display: none;
}
#show-turns{
    display: none;
}
#show-rolls{
    display: none;
}
#scoreboard{
    position: relative;
    right: -20vw;
    bottom: 30vh;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}
.scoreboard{
    margin-top: 3vh;
}
/* #score{
    border: 3px solid black;
} */